In [2]:
from langchain.prompts.prompt import PromptTemplate
from langchain.chains import LLMChain
from langchain.memory import ConversationBufferMemory
from langchain.agents.agent_toolkits import create_sql_agent,SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from dotenv import load_dotenv
from langchain import PromptTemplate
import os
from langchain.llms import AzureOpenAI
from langchain.agents import load_tools,  initialize_agent
from langchain.chat_models.openai import ChatOpenAI
from langchain.sql_database import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain.memory import ConversationBufferMemory
import openai
import pandas as pd
import sqlite3

In [85]:
# import pandas as pd
# import sqlite3

# def create_table_and_insert_data(file_path, table_name, db_name):
#     conn = None  # Initialize conn outside the try block
#     try:
#         # Read the file based on the extension
#         if file_path.endswith('.csv'):
#             df = pd.read_csv(file_path)
#         elif file_path.endswith('.xlsx'):
#             df = pd.read_excel(file_path)
#         else:
#             raise ValueError("Unsupported file format. Please provide a CSV or Excel file.")

#         # Replace spaces in column names with underscores
#         df.columns = df.columns.str.replace(" ", "_")

#         # Connect to SQLite database
#         conn = sqlite3.connect(db_name)

#         # Create table and insert data
#         df.to_sql(table_name, conn, if_exists='replace', index=False)

#         print(f"Table '{table_name}' created and data inserted successfully.")

#     except FileNotFoundError:
#         print("File not found. Please provide a valid file path.")
#     except ValueError as ve:
#         print("ValueError:", ve)
#     except Exception as ex:
#         print("Error:", ex)
#     finally:
#         # Close the connection
#         if conn:
#             conn.close()

# if __name__ == "__main__":
#     file_path = input("Enter the path to the CSV or Excel file: ")  # Path to your CSV or Excel file
#     table_name = input("Enter the name of the table: ")             # Name of the table to be created
#     db_name = input("Enter the name of your SQLite database: ")     # Name of your SQLite database

#     create_table_and_insert_data(file_path, table_name, db_name)

In [86]:
# import sqlite3

# def get_table_schema_as_string(db_name, table_name):
#     try:
#         # Connect to SQLite database
#         conn = sqlite3.connect(db_name)
#         cursor = conn.cursor()

#         # Query the table schema
#         cursor.execute(f"PRAGMA table_info({table_name})")
#         schema_rows = cursor.fetchall()

#         # Format the schema into a string
#         schema_string = "CREATE TABLE " + table_name + " (\n"
#         for row in schema_rows:
#             column_name = row[1]
#             data_type = row[2]
#             schema_string += f'    "{column_name}" {data_type},\n'
#         schema_string = schema_string.rstrip(',\n') + "\n)"

#         return schema_string

#     except sqlite3.Error as e:
#         print("SQLite error:", e)
#     except Exception as ex:
#         print("Error:", ex)
#     finally:
#         # Close the connection
#         if conn:
#             conn.close()

# if __name__ == "__main__":
#     db_name = input("Enter the name of your SQLite database: ")     # Name of your SQLite database
#     table_name = input("Enter the name of the table: ")             # Name of the table

#     schema_string = get_table_schema_as_string(db_name, table_name)
#     if schema_string:
#         print("Table schema as string:")
#         print(schema_string)
#     else:
#         print("Failed to get table schema.")

In [49]:
# import os
# import pandas as pd
# import sqlite3

# def create_table_and_insert_data(file_path, db_name):
#     conn = None  # Initialize conn outside the try block
#     schema_string = None
#     try:
#         # Extract file name without extension to use as table name
#         table_name = os.path.splitext(os.path.basename(file_path))[0]

#         # Read the file based on the extension
#         if file_path.endswith('.csv'):
#             df = pd.read_csv(file_path)
#         elif file_path.endswith('.xlsx'):
#             df = pd.read_excel(file_path)
#         else:
#             raise ValueError("Unsupported file format. Please provide a CSV or Excel file.")

#         # Replace spaces in column names with underscores
#         df.columns = df.columns.str.replace(" ", "_")

#         # Connect to SQLite database
#         conn = sqlite3.connect(db_name)

#         # Create table and insert data
#         df.to_sql(table_name, conn, if_exists='replace', index=False)

#         print(f"Table '{table_name}' created and data inserted successfully.")

#         # Query the table schema
#         cursor = conn.cursor()
#         cursor.execute(f"PRAGMA table_info({table_name})")
#         schema_rows = cursor.fetchall()

#         # Format the schema into a string
#         schema_string = "CREATE TABLE " + table_name + " (\n"
#         for row in schema_rows:
#             column_name = row[1]
#             data_type = row[2]
#             schema_string += f'    "{column_name}" {data_type},\n'
#         schema_string = schema_string.rstrip(',\n') + "\n"

#     except FileNotFoundError:
#         print("File not found. Please provide a valid file path.")
#     except ValueError as ve:
#         print("ValueError:", ve)
#     except Exception as ex:
#         print("Error:", ex)
#     finally:
#         # Close the connection
#         if conn:
#             conn.close()

#     return schema_string

# if __name__ == "__main__":
#     file_path = input("Enter the path to the CSV or Excel file: ")  # Path to your CSV or Excel file
#     db_name = "new_tablebase.sqlite3"  # Name of your SQLite database

#     schema_string = create_table_and_insert_data(file_path, db_name)
#     if schema_string:
#         print("Table schema as string:")
#         print(schema_string)
#     else:
#         print("Failed to get table schema.")

In [3]:
import mysql.connector
import logging

def check_table_schema():
    try:
        # Connect to MySQL database
        conn = mysql.connector.connect(
            host="localhost",
            user="ron",
            password="rysun1234",
            database="ron"
        )
        
        # Check if connection is successful
        if conn.is_connected():
            logging.info("Connected to MySQL database on localhost")
            
            # Query the table schema
            table_name='product_frida'
            cursor = conn.cursor()
            cursor.execute(f"DESCRIBE {table_name}")  # Modified query to retrieve table schema
            schema_rows = cursor.fetchall()

            # Format the schema into a string
            schema_string = "CREATE TABLE " + table_name + " (\n"
            for row in schema_rows:
                column_name = row[0]  # Modified index to match MySQL DESCRIBE output
                data_type = row[1]    # Modified index to match MySQL DESCRIBE output
                schema_string += f'    "{column_name}" {data_type},\n'
            schema_string = schema_string.rstrip(',\n') + "\n"
            return schema_string
    
    except mysql.connector.Error as e:
        logging.error(f"Error connecting to MySQL database: {e}")
        print(f"Error connecting to MySQL database: {e}")
    except Exception as ex:
        logging.error(f"Error: {ex}")
        print(f"Error: {ex}")

if __name__ == "__main__":
    schema_string = check_table_schema()

In [4]:
print(schema_string)

CREATE TABLE product_frida (
    "Name" int,
    "Legacy SKU Name" text,
    "UPC Code" bigint,
    "Inner GTIN-14" bigint,
    "Master GTIN-14" bigint,
    "Product Packaged Length" double,
    "Product Packaged Width" double,
    "Product Packaged Height" double,
    "Weight" double,
    "Weight Units" text,
    "MSRP (USD)" text,
    "Country of Origin" text,
    "Minimum Qty" int,
    "Wholesale Price" text,
    "Sales Description" text

In [5]:
import mysql.connector
import logging

def check_table_schema(table_names):
    try:
        # Connect to MySQL database
        conn = mysql.connector.connect(
            host="localhost",
            user="ron",
            password="rysun1234",
            database="ron"
        )
        
        # Check if connection is successful
        if conn.is_connected():
            logging.info("Connected to MySQL database on localhost")
            
            schema_strings = {}

            # Loop through each table name
            for table_name in table_names:
                # Query the table schema
                cursor = conn.cursor()
                cursor.execute(f"DESCRIBE {table_name}")  # Modified query to retrieve table schema
                schema_rows = cursor.fetchall()

                # Format the schema into a string
                schema_string = f"CREATE TABLE {table_name} (\n"
                for row in schema_rows:
                    column_name = row[0]  # Modified index to match MySQL DESCRIBE output
                    data_type = row[1]    # Modified index to match MySQL DESCRIBE output
                    schema_string += f'    "{column_name}" {data_type},\n'
                schema_string = schema_string.rstrip(',\n') + "\n)\n"
                schema_strings[table_name] = schema_string

            return schema_strings
    
    except mysql.connector.Error as e:
        logging.error(f"Error connecting to MySQL database: {e}")
        print(f"Error connecting to MySQL database: {e}")
    except Exception as ex:
        logging.error(f"Error: {ex}")
        print(f"Error: {ex}")

if __name__ == "__main__":
    table_names = ['product_frida', 'ticket_details']  # Specify your table names here
    schema_strings = check_table_schema(table_names)
    
    if schema_strings:
        all_schemas = ""
        for table_name, schema_string in schema_strings.items():
            all_schemas += schema_string + "\n\n"
        #print(all_schemas)
    # Assigning equal values to all_schemas and schema_strings
        schema_string = all_schemas
        print(schema_string)  # Now schema_strings will have the same content as all_schemas
    else:
        print("No schema retrieved.")

CREATE TABLE product_frida (
    "Name" int,
    "Legacy SKU Name" text,
    "UPC Code" bigint,
    "Inner GTIN-14" bigint,
    "Master GTIN-14" bigint,
    "Product Packaged Length" double,
    "Product Packaged Width" double,
    "Product Packaged Height" double,
    "Weight" double,
    "Weight Units" text,
    "MSRP (USD)" text,
    "Country of Origin" text,
    "Minimum Qty" int,
    "Wholesale Price" text,
    "Sales Description" text
)


CREATE TABLE ticket_details (
    "Ticket ID" int,
    "Ticket created - Date" text,
    "Secondary" text,
    "Requester email" text,
    "Resolution" text,
    "First Name" text,
    "Last Name" text,
    "Tickets" int
)

In [6]:
print(schema_string)

CREATE TABLE product_frida (
    "Name" int,
    "Legacy SKU Name" text,
    "UPC Code" bigint,
    "Inner GTIN-14" bigint,
    "Master GTIN-14" bigint,
    "Product Packaged Length" double,
    "Product Packaged Width" double,
    "Product Packaged Height" double,
    "Weight" double,
    "Weight Units" text,
    "MSRP (USD)" text,
    "Country of Origin" text,
    "Minimum Qty" int,
    "Wholesale Price" text,
    "Sales Description" text
)


CREATE TABLE ticket_details (
    "Ticket ID" int,
    "Ticket created - Date" text,
    "Secondary" text,
    "Requester email" text,
    "Resolution" text,
    "First Name" text,
    "Last Name" text,
    "Tickets" int
)

In [27]:
domain_info = """The dataset pertains to a company specializing in baby products and contains information related to that.
Frida is the name of the company and all the products details and ticket deatils are related to Frida."""


Question_Answer = """
Examples for product_details table:-

Question: What is the wholesale price of NailFrida
SQL Query: SELECT wholesale_price FROM product_details WHERE Sales_Description LIKE product_name;
Answer: The wholesale price of the "Nailfrida The Snipperclipper Set" is $7.50 and "Nailfrida The Snipperclipper Solo" is $5.00.
 
Question: "What is the SKU no. of DermaFrida"
SQL Query: SELECT product_name, sku_no FROM product_details WHERE Sales_Description LIKE product_name;
Answer: "SKU no for 023- Dermafrida The Skinsoother -2pk,027-Dermafrida Bath Mitt,030-DermaFrida SkinSoother 1pk,037b Dermafrida Flake Fixer Replacement Sponge - 2pk,
037d Dermafrida Flake Fixer"
 
Question: What is the minimum quantity required to be ordered for 3-in-1 Picker
SQL Query: SELECT min_order_quantity FROM product_details WHERE product_name = '3-in-1 Picker';
Answer: the minimum quantity required to be ordered for 3-in-1 Picker is 4

Examples for ticket_details table:-

Question: How many tickets were created on February 1, 2023?
SQL Query: SELECT COUNT(*) AS Total_Tickets_Created_On_2023_02_01 FROM ticket_details WHERE DATE_FORMAT(Ticket_created_Date, '%Y-%m-%d') = '2023-02-01';
Ans: Total 85 tickets are created on February 1, 2023.

Question: What information is available for ticket ID 92901?
SQL Query: SELECT * FROM ticket_details WHERE Ticket_ID = 92901;
Ans:-Breathe Easy Kit is the scondary for ID 92901 and the ticket is created on 2023-02-01 and it is yet to get resolved.

Question: How many tickets were raised for Electric Nosefrida?
SQL Query: SELECT COUNT(*) AS Total_Tickets_For_Electric_Nosefrida FROM ticket_details WHERE Secondary = 'Electric Nosefrida';
Ans:- 1282 tickets were created for Electric Nosefrida.

"""

In [223]:
domain_info = """The dataset pertains to a company specializing in baby products and contains information related to that.
Frida is the name of the company and all the products details and ticket deatils are related to Frida."""

Question_Answer =[
    {
        "Question": "What is the wholesale price of NailFrida",
        "SQL Query": "SELECT wholesale_price FROM product_details WHERE Sales_Description LIKE product_name;",
        "Ans": "The wholesale price of the \"Nailfrida The Snipperclipper Set\" is $7.50 and \"Nailfrida The Snipperclipper Solo\" is $5.00."
    },
    {
        "Question": "\"What is the SKU no. of DermaFrida\"",
        "SQL Query": "SELECT product_name, sku_no FROM product_details WHERE Sales_Description LIKE product_name;",
        "Ans": "\"SKU no for 023- Dermafrida The Skinsoother -2pk,027-Dermafrida Bath Mitt,030-DermaFrida SkinSoother 1pk,037b Dermafrida Flake Fixer Replacement Sponge - 2pk, 037d Dermafrida Flake Fixer\""
    },
    {
        "Question": "What is the minimum quantity required to be ordered for 3-in-1 Picker",
        "SQL Query": "SELECT min_order_quantity FROM product_details WHERE product_name = '3-in-1 Picker';",
        "Ans": "the minimum quantity required to be ordered for 3-in-1 Picker is 4"
    },
    {
        "Question": "How many tickets were created on February 1, 2023?",
        "SQL Query": "SELECT COUNT(*) AS Total_Tickets_Created_On_2023_02_01 FROM ticket_details WHERE DATE_FORMAT(Ticket_created_Date, '%Y-%m-%d') = '2023-02-01';",
        "Ans": "Total 85 tickets are created on February 1, 2023."
    },
    {
        "Question": "What information is available for ticket ID 92901?",
        "SQL Query": "SELECT * FROM ticket_details WHERE Ticket_ID = 92901;",
        "Ans": "-Breathe Easy Kit is the secondary for ID 92901 and the ticket is created on 2023-02-01 and it is yet to get resolved."
    },
    {
        "Question": "How many tickets were raised for Electric Nosefrida?",
        "SQL Query": "SELECT COUNT(*) AS Total_Tickets_For_Electric_Nosefrida FROM ticket_details WHERE Secondary = 'Electric Nosefrida';",
        "Ans": "- 1282 tickets were created for Electric Nosefrida."
    }
]

In [250]:
domain_info = """The dataset pertains to a company specializing in baby products and contains information related to that.
Frida is the name of the company and all the products details and ticket deatils are related to Frida."""

Question_Answer = [

    {
        'Question': 'What is the wholesale price of NailFrida',
        'SQL Query': 'SELECT `wholesale price` FROM product_details WHERE `Sales_Description` LIKE product_name;',
        'Ans': 'The wholesale price of the "Nailfrida The Snipperclipper Set" is $7.50 and "Nailfrida The Snipperclipper Solo" is $5.00.'
    },
    {
        'Question': '"What is the SKU no. of DermaFrida"',
        'SQL Query': 'SELECT `Sales_Description`, `Legacy SKU Name` FROM product_details WHERE `Sales_Description` LIKE product_name;',
        'Ans': '"SKU no for 023- Dermafrida The Skinsoother -2pk,027-Dermafrida Bath Mitt,030-DermaFrida SkinSoother 1pk,037b Dermafrida Flake Fixer Replacement Sponge - 2pk, 037d Dermafrida Flake Fixer"'
    },
    {
        'Question': 'What is the minimum quantity required to be ordered for 3-in-1 Picker',
        'SQL Query': 'SELECT `Minimum Qty` FROM product details WHERE `Sales_Description` like \'3-in-1 Picker\';',
        'Ans': 'The minimum quantity required to be ordered for 3-in-1 Picker is 4'
    },
    {
        'Question': 'How many tickets were created on February 1, 2023?',
        'SQL Query': "SELECT COUNT(*) AS Total Tickets Created On 2023_02_01 FROM ticket details WHERE DATE FORMAT(Ticket created Date, 'datatime format') = '2023-02-01';",
        'Ans': 'Total 85 tickets are created on February 1, 2023.'
    },
    {
        'Question': 'What information is available for ticket ID 92901?',
        'SQL Query': 'SELECT * FROM ticket details WHERE `Ticket ID` = 92901;',
        'Ans': 'Breathe Easy Kit is the secondary for ID 92901 and the ticket is created on 2023-02-01 and it is yet to get resolved.'
    },
    {
        'Question': 'How many tickets were raised for Electric Nosefrida?',
        'SQL Query': "SELECT COUNT(*) AS Total Tickets For Electric Nosefrida FROM ticket details WHERE `Secondary` = 'Electric Nosefrida';",
        'Ans': '1282 tickets were created for Electric Nosefrida.'
    }
]

In [251]:
formatted_text = ""

for item in Question_Answer:
    for key, value in item.items():
        if key.startswith('Question'):
            formatted_text += f"Question: {value}\n"
        elif key.startswith('SQL Query'):
            formatted_text += f"SQL Query: {value}\n"
        elif key.startswith('Ans'):
            formatted_text += f"Answer: {value}\n"
    formatted_text += "\n"  # Add a newline between each set of question, query, and answer

print(formatted_text)

Question: What is the wholesale price of NailFrida
SQL Query: SELECT `wholesale price` FROM product_details WHERE `Sales_Description` LIKE product_name;
Answer: The wholesale price of the "Nailfrida The Snipperclipper Set" is $7.50 and "Nailfrida The Snipperclipper Solo" is $5.00.

Question: "What is the SKU no. of DermaFrida"
SQL Query: SELECT `Sales_Description`, `Legacy SKU Name` FROM product_details WHERE `Sales_Description` LIKE product_name;
Answer: "SKU no for 023- Dermafrida The Skinsoother -2pk,027-Dermafrida Bath Mitt,030-DermaFrida SkinSoother 1pk,037b Dermafrida Flake Fixer Replacement Sponge - 2pk, 037d Dermafrida Flake Fixer"

Question: What is the minimum quantity required to be ordered for 3-in-1 Picker
SQL Query: SELECT `Minimum Qty` FROM product details WHERE `Sales_Description` like '3-in-1 Picker';
Answer: The minimum quantity required to be ordered for 3-in-1 Picker is 4

Question: How many tickets were created on February 1, 2023?
SQL Query: SELECT COUNT(*) AS Total Tickets Created On 2023_02_01 FROM ticket details WHERE DATE FORMAT(Ticket created Date, 'datatime format') = '2023-02-01';
Answer: Total 85 tickets are created on February 1, 2023.

Question: What information is available for ticket ID 92901?
SQL Query: SELECT * FROM ticket details WHERE `Ticket ID` = 92901;
Answer: Breathe Easy Kit is the secondary for ID 92901 and the ticket is created on 2023-02-01 and it is yet to get resolved.

Question: How many tickets were raised for Electric Nosefrida?
SQL Query: SELECT COUNT(*) AS Total Tickets For Electric Nosefrida FROM ticket details WHERE `Secondary` = 'Electric Nosefrida';
Answer: 1282 tickets were created for Electric Nosefrida.

In [252]:
System_Prompt = ""

In [253]:
System_Prompt = (
    domain_info + "\n\n" +
    "Use the following table schema:\n" +
    schema_string + "\n" +
    "Following question, answer examples:\n" +
    formatted_text + "\n" +
    "{history}\n\nThe question:{input}\n\n"
)

In [254]:
print(System_Prompt)

The dataset pertains to a company specializing in baby products and contains information related to that.
Frida is the name of the company and all the products details and ticket deatils are related to Frida.

Use the following table schema:
CREATE TABLE product_frida (
    "Name" int,
    "Legacy SKU Name" text,
    "UPC Code" bigint,
    "Inner GTIN-14" bigint,
    "Master GTIN-14" bigint,
    "Product Packaged Length" double,
    "Product Packaged Width" double,
    "Product Packaged Height" double,
    "Weight" double,
    "Weight Units" text,
    "MSRP (USD)" text,
    "Country of Origin" text,
    "Minimum Qty" int,
    "Wholesale Price" text,
    "Sales Description" text
)


CREATE TABLE ticket_details (
    "Ticket ID" int,
    "Ticket created - Date" text,
    "Secondary" text,
    "Requester email" text,
    "Resolution" text,
    "First Name" text,
    "Last Name" text,
    "Tickets" int
)



Following question, answer examples:
Question: What is the wholesale price of NailFrida
SQL Query: SELECT `wholesale price` FROM product_details WHERE `Sales_Description` LIKE product_name;
Answer: The wholesale price of the "Nailfrida The Snipperclipper Set" is $7.50 and "Nailfrida The Snipperclipper Solo" is $5.00.

Question: "What is the SKU no. of DermaFrida"
SQL Query: SELECT `Sales_Description`, `Legacy SKU Name` FROM product_details WHERE `Sales_Description` LIKE product_name;
Answer: "SKU no for 023- Dermafrida The Skinsoother -2pk,027-Dermafrida Bath Mitt,030-DermaFrida SkinSoother 1pk,037b Dermafrida Flake Fixer Replacement Sponge - 2pk, 037d Dermafrida Flake Fixer"

Question: What is the minimum quantity required to be ordered for 3-in-1 Picker
SQL Query: SELECT `Minimum Qty` FROM product details WHERE `Sales_Description` like '3-in-1 Picker';
Answer: The minimum quantity required to be ordered for 3-in-1 Picker is 4

Question: How many tickets were created on February 1, 2023?
SQL Query: SELECT COUNT(*) AS Total Tickets Created On 2023_02_01 FROM ticket details WHERE DATE FORMAT(Ticket created Date, 'datatime format') = '2023-02-01';
Answer: Total 85 tickets are created on February 1, 2023.

Question: What information is available for ticket ID 92901?
SQL Query: SELECT * FROM ticket details WHERE `Ticket ID` = 92901;
Answer: Breathe Easy Kit is the secondary for ID 92901 and the ticket is created on 2023-02-01 and it is yet to get resolved.

Question: How many tickets were raised for Electric Nosefrida?
SQL Query: SELECT COUNT(*) AS Total Tickets For Electric Nosefrida FROM ticket details WHERE `Secondary` = 'Electric Nosefrida';
Answer: 1282 tickets were created for Electric Nosefrida.


{history}

The question:{input}

In [228]:
#db = SQLDatabase.from_uri("sqlite:///new_tablebase.sqlite3")

In [255]:
from sqlalchemy import create_engine
import urllib.parse

# Encode the password
password = urllib.parse.quote_plus("rysun1234")

# Create the database URI
uri = f"mysql+pymysql://ron:{password}@localhost/ron"

# Create the database connection
db = create_engine(uri)

In [256]:
db = SQLDatabase.from_uri(uri)

In [257]:
# # Establish a connection to the MySQL database
# conn = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="krish@123",
#     database="ron"
# )

# # Define a function to execute queries on the MySQL database
# def execute_query(query, conn):
#     cursor = conn.cursor()
#     cursor.execute(query)
#     result = cursor.fetchall()
#     cursor.close()
#     return result

In [258]:
os.environ["OPENAI_API_KEY"] = "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"
openai.api_key = os.environ["OPENAI_API_KEY"]

llm = ChatOpenAI(model_name="gpt-3.5-turbo")

In [259]:
memory = ConversationBufferMemory(input_key='input', memory_key="history")
dbchain = SQLDatabaseChain(
        llm_chain=LLMChain(llm=llm, prompt=PromptTemplate.from_template(System_Prompt), memory=memory),
        database=db, 
        verbose=True,use_query_checker=True
    )

In [260]:
dbchain.run("What is the wholesale price of NailFrida")

> Entering new SQLDatabaseChain chain...
What is the wholesale price of NailFrida
SQLQuery:SELECT `Wholesale Price` FROM product_frida WHERE `Sales Description` LIKE '%NailFrida%';
SQLResult: [(' $7.50 ',), (' $5.00 ',)]
Answer:The wholesale price of "NailFrida The Snipperclipper Set" is $7.50 and "NailFrida The Snipperclipper Solo" is $5.00.
> Finished chain.

'The wholesale price of "NailFrida The Snipperclipper Set" is $7.50 and "NailFrida The Snipperclipper Solo" is $5.00.'

In [261]:
dbchain.run("what is the requester email for Itzel Rosales ?")

> Entering new SQLDatabaseChain chain...
what is the requester email for Itzel Rosales ?
SQLQuery:SELECT `Requester email` FROM ticket_details WHERE `First Name` = 'Itzel' AND `Last Name` = 'Rosales';
SQLResult: [('rosales.itzel95@gmail.com',)]
Answer:The requester email for Itzel Rosales is rosales.itzel95@gmail.com.
> Finished chain.

'The requester email for Itzel Rosales is rosales.itzel95@gmail.com.'

In [262]:
#dbchain.run("what is the ticket id for Scott")

> Entering new SQLDatabaseChain chain...
what is the ticket id for Scott
SQLQuery:SELECT `Ticket ID` FROM ticket_details WHERE `First Name` = 'Scott' OR `Last Name` = 'Scott';
SQLResult: [(92866,), (93443,)]
Answer:The ticket IDs for Scott are 92866 and 93443.
> Finished chain.

'The ticket IDs for Scott are 92866 and 93443.'

In [263]:
dbchain.run("What is the SKU no. of DermaFrida?")

> Entering new SQLDatabaseChain chain...
What is the SKU no. of DermaFrida?
SQLQuery:SELECT `Legacy SKU Name` FROM product_frida WHERE `Sales Description` LIKE '%DermaFrida%';
SQLResult: [('023',), ('027',), ('030',), ('037b',), ('037d',)]
Answer:The SKU numbers for DermaFrida products are 023, 027, 030, 037b, and 037d.
> Finished chain.

'The SKU numbers for DermaFrida products are 023, 027, 030, 037b, and 037d.'

In [238]:
#dbchain.run("Same Product Replacement resolution raised how many time and what is the secondary count")

> Entering new SQLDatabaseChain chain...
Same Product Replacement resolution raised how many time and what is the secondary count
SQLQuery:SELECT COUNT(*) AS Total_Replacement_Resolutions, SUM(Tickets) AS Total_Secondary_Count
FROM ticket_details
WHERE Resolution = 'Same Product Replacement';
SQLResult: [(1295, Decimal('1295'))]
Answer:The "Same Product Replacement" resolution has been raised a total of 1295 times, with a total secondary count of 1295.
> Finished chain.

'The "Same Product Replacement" resolution has been raised a total of 1295 times, with a total secondary count of 1295.'

In [264]:
dbchain.run("How many tickets were related to the 'Electric Nosefrida' product?")

> Entering new SQLDatabaseChain chain...
How many tickets were related to the 'Electric Nosefrida' product?
SQLQuery:SELECT COUNT(*) AS TotalTickets FROM ticket_details WHERE `Secondary` LIKE '%Electric Nosefrida%';
SQLResult: [(1282,)]
Answer:There were 1282 tickets related to the 'Electric Nosefrida' product.
> Finished chain.

"There were 1282 tickets related to the 'Electric Nosefrida' product."

In [265]:
dbchain.run("Which requester raises the most tickets?")

> Entering new SQLDatabaseChain chain...
Which requester raises the most tickets?
SQLQuery:SELECT `Requester email`, COUNT(`Ticket ID`) AS TotalTickets
FROM ticket_details
GROUP BY `Requester email`
ORDER BY TotalTickets DESC
LIMIT 1;
SQLResult: [('stephanie.r.power1@gmail.com', 2)]
Answer:AI: The requester with the email "stephanie.r.power1@gmail.com" raised the most tickets.
> Finished chain.

'AI: The requester with the email "stephanie.r.power1@gmail.com" raised the most tickets.'

In [241]:
#dbchain.run("Which requester raises the most tickets?")

In [266]:
dbchain.run("What is the wholesale price of NailFrida")

> Entering new SQLDatabaseChain chain...
What is the wholesale price of NailFrida
SQLQuery:SELECT `Wholesale Price` FROM product_frida WHERE `Sales Description` LIKE '%NailFrida%';
SQLResult: [(' $7.50 ',), (' $5.00 ',)]
Answer:The wholesale price of "NailFrida The Snipperclipper Set" is $7.50 and "NailFrida The Snipperclipper Solo" is $5.00.
> Finished chain.

'The wholesale price of "NailFrida The Snipperclipper Set" is $7.50 and "NailFrida The Snipperclipper Solo" is $5.00.'

In [267]:
dbchain.run("What is the SKU no. of DermaFrida?")

> Entering new SQLDatabaseChain chain...
What is the SKU no. of DermaFrida?
SQLQuery:SELECT `Legacy SKU Name` FROM product_frida WHERE `Sales Description` LIKE '%DermaFrida%';
SQLResult: [('023',), ('027',), ('030',), ('037b',), ('037d',)]
Answer:The SKU numbers for DermaFrida products are 023, 027, 030, 037b, and 037d.
> Finished chain.

'The SKU numbers for DermaFrida products are 023, 027, 030, 037b, and 037d.'

In [244]:
dbchain.run("What is the minimum quantity required to be ordered for 3-in-1 Picker?")

> Entering new SQLDatabaseChain chain...
What is the minimum quantity required to be ordered for 3-in-1 Picker?
SQLQuery:SELECT "Minimum Qty" FROM product_frida WHERE "Sales Description" LIKE '%3-in-1 Picker%';
SQLResult:
Answer:AI: The minimum quantity required to be ordered for the 3-in-1 Picker is 4.
> Finished chain.

'AI: The minimum quantity required to be ordered for the 3-in-1 Picker is 4.'

In [245]:
dbchain.run("Show me 5 products that has a minimum quantity of 3")

> Entering new SQLDatabaseChain chain...
Show me 5 products that has a minimum quantity of 3
SQLQuery:SELECT "Name", "Sales Description"
FROM product_frida
WHERE "Minimum Qty" = 3
LIMIT 5;
SQLResult:
Answer:AI: Here are 5 products that have a minimum quantity of 3:
1. Nosefrida The Snotsucker Nasal Aspirator
2. Nosefrida Filters
3. Windi The Gaspasser
4. Dermafrida The Skinsoother -2pk
5. Nailfrida The Snipperclipper Set
> Finished chain.

'AI: Here are 5 products that have a minimum quantity of 3:\n1. Nosefrida The Snotsucker Nasal Aspirator\n2. Nosefrida Filters\n3. Windi The Gaspasser\n4. Dermafrida The Skinsoother -2pk\n5. Nailfrida The Snipperclipper Set'

In [246]:
#dbchain.run("How many total products does Frida have?")